name: ci-build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare build environment
        uses: ./.github/actions/prepare-builder
        with:
          service: builder

      - name: Build amd64 artifacts
        uses: ./.github/actions/run-build
        with:
          service: builder
          build-target: amd64-Release

      - name: Build arm64 artifacts
        uses: ./.github/actions/run-build
        with:
          service: builder
          build-target: arm64-Release

      - name: Upload artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            bpftime/build/amd64-Release/install/bin/*
            bpftime/build/arm64-Release/install/bin/*
          retention-days: 10
